<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Microservicios</a>
  </div>
</nav>
<div class="container">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-1 mb-1"
  >
    <h2>Usuarios</h2>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6" *ngFor="let user of usersLeft">
      <div class="alert alert-dismissible alert-light">
        <b>ID:&nbsp;</b>{{ user.id }}
        <br />
        <b>Título:&nbsp;</b>{{ user.title }}
        <br />
        <b>Nombre:&nbsp;</b>{{ user.firstName }}
        <br />
        <b>Apellido:&nbsp;</b>{{ user.lastName }}
        <br />
        <b>Foto:&nbsp;</b>{{ user.picture }}
      </div>
    </div>
    <div class="col-md-6" *ngFor="let user of usersRight; let i = index">
      <div class="alert alert-dismissible alert-light">
        <b>ID:&nbsp;</b>{{ user.id }}
        <br />
        <b>Título:&nbsp;</b>{{ user.title }}
        <br />
        <b>Nombre:&nbsp;</b>{{ user.firstName }}
        <br />
        <b>Apellido:&nbsp;</b>{{ user.lastName }}
        <br />
        <b>Foto:&nbsp;</b>{{ user.picture }}
      </div>
    </div>
  </div>
  <label class="col-12"></label>
  <div class="form-group d-flex justify-content-center">
    <div class="btn-group me-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-warning" (click)="pageOne()">
        1
      </button>
      <button type="button" class="btn btn-warning" (click)="pageTwo()">
        2
      </button>
      <button type="button" class="btn btn-warning" (click)="pageThree()">
        3
      </button>
      <button type="button" class="btn btn-warning" (click)="pageFour()">
        4
      </button>
      <button type="button" class="btn btn-warning" (click)="pageFive()">
        5
      </button>
      <button type="button" class="btn btn-warning" (click)="pageSix()">
        6
      </button>
      <button type="button" class="btn btn-warning" (click)="pageSeven()">
        7
      </button>
      <button type="button" class="btn btn-warning" (click)="pageEight()">
        8
      </button>
      <button type="button" class="btn btn-warning" (click)="pageNine()">
        9
      </button>
      <button type="button" class="btn btn-warning" (click)="pageTen()">
        10
      </button>
    </div>
  </div>
</div>
